/* .showboxBlack,
.showboxRed,
.showboxGreen,
.showboxBlue,
.showboxYellow,
.showboxGrey,
.showboxPink {
   display: block;
}

.showboxBlack {
   border: 5px solid black;
}

.showboxRed {
   border: 5px solid red;
}

.showboxGreen {
   border: 5px solid green;
}

.showboxBlue {
   border: 5px solid blue;
}

.showboxYellow {
   border: 5px solid yellow;
}

.showboxPink {
   border: 5px solid pink;
}
.showboxGrey {
   border: 5px solid grey;
}
 */
